.language-switch {
  position: fixed;
  top: 15px;
  right: 80px;
  z-index: 9999;
  display: flex;
  gap: 10px;
  background: transparent;
  padding: 15px 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
a{
   font-family: "IBM Plex Sans Arabic", sans-serif;
}
.flag {
  width: 25px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.language-switch a{
  text-decoration: none;
  color: #3c8070;
    cursor: pointer;
  transition: transform 0.3s ease;
}
a:hover {
  transform: scale(1.2);
}

/* ===================== Center on tablets and smaller devices ===================== */
@media screen and (max-width: 1024px) {
  .language-switch {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    top: 15px;
    padding: 12px 10px;
    gap: 8px;
  }

  .flag {
    width: 23px;
  }
}

/* Small phones: adjust for very small screens */
@media screen and (max-width: 414px) {
  .language-switch {
    top: 10px;
    padding: 8px;
    gap: 5px;
  }

  .flag {
    width: 20px;
  }
}
